# Project exclude paths
/.gradle/
/sc-api-gateway/build/
/sc-api-gateway/build/classes/java/main/
/sc-common/sc-common-base/build/
/sc-common/sc-common-base/build/classes/java/main/
/sc-common/sc-common-client/build/
/sc-common/sc-common-log/build/
/sc-common/sc-common-log/build/classes/java/main/
/sc-common/sc-common-util/build/
/sc-common/sc-common-util/build/classes/java/main/
/sc-common/sc-core/build/
/sc-common/sc-core/build/classes/java/main/
/sc-config-server/build/
/sc-config-server/build/classes/java/main/
/sc-eureka-server/build/
/sc-eureka-server/build/classes/java/main/
/sc-monitor/sc-admin-server/build/
/sc-monitor/sc-admin-server/build/classes/java/main/
/sc-provider/sc-web-auth/build/
/sc-provider/sc-web-auth/build/classes/java/main/
/sc-provider/sc-xzsd-app/build/
/sc-provider/sc-xzsd-app/build/classes/java/main/
/sc-provider/sc-xzsd-pc/build/
/sc-provider/sc-xzsd-pc/build/classes/java/main/
/sc-security/sc-security-client/build/
/sc-security/sc-security-client/build/classes/java/main/
/sc-security/sc-security-core/build/
/sc-security/sc-security-core/build/classes/java/main/
/sc-security/sc-security-uaa/build/
/sc-security/sc-security-uaa/build/classes/java/main/