<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserDao">
    <!--统计用户账号数量-->
    <select id="countUserAccount" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="int">
        select count(user_acc)
        from t_sys_user
        where is_delete = 0
        and user_acc = #{userAccount}
        <if test="userCode != null and userCode != ''">
            and user_code != #{userCode}
        </if>
    </select>

    <!--新增用户-->
    <insert id="addUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        insert into t_sys_user
        (user_code,
         user_name,
         user_acc,
         user_pass,
         idcard,
         sex,
         phone,
         email,
         role,
         photo,
         is_delete,
         create_time,
         create_user,
         update_time,
         update_user,
         version)
        values
           (
            #{userCode},
            #{userName},
            #{userAccount},
            #{userPassword},
            #{idCard},
            #{sex},
            #{phone},
            #{email},
            #{role},
            #{photo},
            #{isDelete},
            now(),
            #{createUser},
            now(),
            #{updateUser},
            0)
    </insert>

    <!--修改用户信息-->
    <update id="updateUserByCode" parameterType="com.xzsd.pc.user.entity.UserInfo">
        update t_sys_user
        set
            user_name = #{userName},
            user_acc = #{userAccount},
            sex = #{sex},
            phone = #{phone},
            email = #{email},
            idcard = #{idCard},
            user_pass = #{userPassword},
            role = #{role},
            photo = #{photo},
            update_time = now(),
            update_user = #{updateUser},
            version = version + 1
        where user_code = #{userCode}
        and version = #{version}
    </update>

    <!--用户列表-->
    <select id="listUsersByPage" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            a.user_acc userAccount,
            a.user_name userName,
            a.role role,
            a.sex sex,
            a.phone phone,
            a.email email,
            a.idcard idCard,
            a.user_code userCode
        from t_sys_user a
        where a.is_delete = 0
        <if test="userAccount != null and userAccount != ''">
            and a.user_acc like concat('%', #{userAccount}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="role != null and role != ''">
            and a.role like concat('%', #{role}, '%')
         </if>
        order by a.update_time desc
    </select>
    <!--删除用户-->
    <update id="deleteUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        update t_sys_user
        set
            is_delete = 1,
            update_time = now(),
            update_user = #{userId},
            version = version + 1
        where user_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--获取用户信息-->
    <select id="findUserByCode" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            user_code userCode,
            user_acc userAcount,
            user_name userName,
            sex sex,
            phone phone,
            email email,
            idcard idCard,
            user_pass userPassword,
            role role,
            photo photo,
            is_delete isDelete,
            create_time createTime,
            create_user createUser,
            update_time updateTime,
            update_user updateUser,
            version version
        from t_sys_user
        where user_code = #{userCode}
        and  is_delete = 0
    </select>

    <!--用户登录-->
    <select id="userLogin" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            user_code userCode,
            user_acc userAccount,
            user_pass userPassword,
            user_name userName,
            photo photo,
            role role
        from t_sys_user
        where user_acc = #{userAccount}
        and  user_pass = #{userPassword}
        and  is_delete = 0

    </select>
</mapper>